# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
* text auto
*.c text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.hpp text eol=lf
